.section__titremenu {
    display: flex;
    padding-left: 20px;
}

.section_menu {
    background-color:$color-gris-clair;
        padding-top: 25px;
        border-radius: 40px;
        position: relative;
        top: -43px;
}

.menu__entree {
    display: flex;
    flex-wrap: wrap;
}

.section__typemenu {
    
    padding-left: 20px;
}



.menu__item{
    display: flex;
    background-color: #ffffff;
    border-radius: 20px;
    width: 20em;
    margin-right: 2%;
    margin: auto;
    margin-bottom: 10px;
    height: 65px;
    margin-right: 10px;
    margin-left: 10px;
  }

.menu__item-direction {
    flex: 1;
    padding-left: 12px;
    line-height: 5px;
    padding-top: 5px;
}

.menu__itemprix-direction {
    padding-top: 24px;
    padding-right: 18px;
    

}