.section__titremenu {
    display: flex;
    padding-left: 20px;
}

.section__titremenu h1 {
    text-align: left;
    width: 266px;
}
.section__titremenu i {
    padding-top: 10px;
    padding-right: 20px;
    
}



.section_menu {
    background-color:$color-gris-clair;
        padding-top: 25px;
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
        position: relative;
        top: -43px;
        padding-bottom: 40px;
        margin-bottom: -41px;
}

.menu__entree {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section__typemenu {
    
    padding-left: 20px;
}



.menu__item{
    display: flex;
    background-color: #ffffff;
    border-radius: 20px;
    width: 20em;
    margin-right: 2%;
    margin: auto;
    margin-bottom: 10px;
    height: 65px;
    margin-right: 10px;
    margin-left: 10px;
  }

.menu__item-direction {
    position: absolute;
    flex: 1;
    padding-left: 12px;
    line-height: 5px;
    padding-top: 5px;
}

.menu__itemprix-direction {
    padding-top: 24px;
    position: relative;
    left: 32px;
    font-weight: 800;
    background-color: white;
}

.marginleftmenu {
    margin-left: 235px;
}
