@font-face {
    font-family: 'shrik';
    src: url('fonts/Shrikhand-Regular.ttf'),
         
}

@font-face {
    font-family: 'roboto';
    font-style:regular;
    src: url('fonts/Roboto-Regular.ttf'),
         
}


html, body {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    }

body {
        font-family: "roboto", Helvetica, Arial, sans-serif;
    }
h1 {
        font-family: "shrik";
        
    }
h2 {
       font-family: "shrik";
    }
h3 {
    font-family: "shrik";
    }
p {
        font-family: "roboto", Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
    }



