

.btn {
    background: linear-gradient(#FF79DA, #9356DC);
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    padding: 1em;
    border-radius: 10rem;
    text-align: center;
    width: 11em;
    margin: auto;
    font-size: medium;
    font-weight: 400;
  }

  .menu__item{
    display: flex;
    background-color: #ffffff;
    border-radius: 20px;
    width: 18em;
    margin-right: 2%;
    margin: auto;
  }