

.btn {
    background: linear-gradient(#FF79DA, #9356DC);
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    padding: 1em;
    border-radius: 10rem;
    text-align: center;
    width: 11em;
    margin: auto;
    font-size: medium;
    font-weight: 400;
  }

  .titre__menu-border 
    {
      border-bottom-style: solid;
      border-color: $color-green;
      padding-bottom: 5px;
      border-width: 1.5px;
      width: 44px;
  }


