/*@function lightness-shift($colour) {
    @if (lightness($colour) < 25%){
        @return lighten($colour, 10%);
    }@else{
        @return darken($colour, 10%);
    }
}*/

.fa-check-circle:before {
    content: "\f058";
    color: white;
    font-size: 21px;
  
    
}

.menu__item-animation {
    width: 62px;
    background-color:$color-green;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    transform: scaleX(0);
    
}
.turn{
       
    margin-top: 22px;
    margin-left: 18px;
}

.troispoints {
    visibility: hidden;
    margin-left: 220px;
}


.menu__item:hover{
    .turn i{
    transform: rotate(-360deg);
    transition: transform 500ms ease-in-out;
            }
    .menu__itemprix-direction {
            
        transform-origin: 100% 0%;
        transform: scaleX(1);
        transition: transform 1000ms;
        transform: translate(-50px,0px);
            }    

    .menu__item-animation {
        transform-origin: 100% 0%;
        transform: scaleX(1);
        transition: transform 1000ms; 
    }
    .troispoints {
        visibility: visible;
        background-color: white;
        padding-right: 3px;
    }
   
}

