/* Amimation: séléction plat */

.fa-check-circle:before {
    content: "\f058";
    color: white;
    font-size: 21px;
  
    
}

.menu__item-animation {
    width: 62px;
    background-color:$color-green;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    transform: scaleX(0);
    
}
.turn{
       
    margin-top: 22px;
    margin-left: 18px;
}

.troispoints {
    visibility: hidden;
    margin-left: 220px;
}


.menu__item:hover{
    .turn i{
    transform: rotate(-360deg);
    transition: transform 500ms ease-in-out;
            }
    .menu__itemprix-direction {
            
        transform-origin: 100% 0%;
        transform: scaleX(1);
        transition: transform 1000ms;
        transform: translate(-50px,0px);
            }    

    .menu__item-animation {
        transform-origin: 100% 0%;
        transform: scaleX(1);
        transition: transform 1000ms; 
    }
    .troispoints {
        visibility: visible;
        background-color: white;
        padding-right: 3px;
    }
   
}



/* Animation: Affichage des plats */

.entree {
    animation: entree 1000ms;
}

@keyframes entree{
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.plat {
    animation: plat 2000ms;
}

@keyframes plat{
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0.2;
    }
   
    100% {
        opacity: 1;
    }
}

.dessert{
    animation: dessert 3000ms;
}

@keyframes dessert{
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0.2;
    }
   
    100% {
        opacity: 1;
    }
}



/* Loading Spinner */

.lds-facebook {
    display: inline-block;
    
    width: 80px;
    height: 80px;
    display: inline;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background:#353535;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    
  }
  
  .visibility{
    animation: visibility 3000ms;
    animation-fill-mode: forwards;
  }
  @keyframes visibility {
  
    0% {
      opacity: 1;
  }
  
  90% {
    opacity: 1;
  }
  
  
  100% {
      opacity: 0;
      visibility: hidden;
      
  }
  }
  
  
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
      
    }
  
    100% {
      top: 24px;
      height: 32px;
    }
  }
  
  
  .spinner{
    animation: spinner 3000ms;
  }
  
  @keyframes spinner{
    0% {
        opacity: 0;
    }
  
    90% {
      opacity: 0.1;
  }
  
   
    100% {
        opacity: 1;
    }
  }
  

