/*@function lightness-shift($colour) {
    @if (lightness($colour) < 25%){
        @return lighten($colour, 10%);
    }@else{
        @return darken($colour, 10%);
    }
}*/

.menu__item-animation {
    width: 68px;
    background-color:$color-green;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}